.git
.settings
.eunit
.dialyzer.plt
.idea
.rebar
.rebar3

*.iml
*.sublime*
*.beam
*.pyc
*.o

test/eunit_results
test/dialyzer_results
test/codetag_tracker_results
test_distributed/cover_tmp.spec
test_coverage

./doc
logs

docs/_build/
_build
compile_commands.json
cluster_manager
ebin

rebar3.crashdump
erl_crash.dump
