%% plugins
{plugins, [rebar3_hex, rebar3_elixir, {rebar_raw_resource,
    {git, "git://github.com/tburghart/rebar_raw_resource.git",
    {branch, "master"}}
}]}.

%% behaviours should be compiled before other files
{erl_first_files, [
    "src/elements/node_manager/node_manager_plugin_behaviour.erl",
    "src/listeners/listener_behaviour.erl",
    "src/modules/datastore/datastore_config_behaviour.erl",
    "src/modules/datastore/model_behaviour.erl",
    "src/modules/dns/dns_worker_plugin_behaviour.erl"
]}.


%% eunit opts - Maven-like output formatting
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "./test/eunit_results"}]}}]}.

%% Test coverage
{cover_enabled, true}.

%% Dialyzer
{dialyzer, [
    {warnings, [error_handling, race_conditions]},
    {plt_extra_apps, [ctool, ranch]}
]}.

%% deps options
{deps, [
    {ctool, {git, "ssh://git@git.plgrid.pl:7999/vfs/ctool.git", {ref, "c30bbecc9fc"}}},
    {cluster_manager, {raw, {git, "ssh://git@git.plgrid.pl:7999/vfs/cluster-manager.git", {ref, "da71898"}}}},
    {meck, {git, "https://github.com/eproxus/meck.git", {tag, "0.8.4"}}},
    %% parse_trans repeated from ctool to fetch it before annotations' inner dependency
    {parse_trans, {git, "https://github.com/uwiger/parse_trans.git", {tag, "2.9.2"}}},
    % Riakc uses meck that blocks cover in Erlang 18.x
    % If riak is used, uncomment line below and change meck to 0.8.2
    % {riakc, ".*", {git, "git://github.com/basho/riak-erlang-client.git", {tag, "527722d"}}},
    {node_package, {git, "git://github.com/xorver/node_package.git", {branch, "2.0.1"}}},
    {mcd, {git, "https://github.com/RoXeon/mcd.git", {branch, "master"}}},
    {couchbeam, {git, "https://github.com/RoXeon/couchbeam.git", {tag, "1.3.x"}}},
    {locks, {git, "https://github.com/uwiger/locks.git", {ref, "c9b585a"}}},
    {gen_server2, {git, "http://github.com/kzemek/gen_server2.git", {branch, "master"}}}
]}.

%% pre-hooks
{pre_hooks, [
    {eunit, "mkdir -p test/eunit_results"}, %% Make dir for eunit' surefire test results
    %% Sometimes, in some cases epmd daemon doesn't start during eunit tests,
    %% so we need to force start it
    {eunit, "epmd -daemon"}
]}.

%% Cleanup
{clean_files, [
    "./test/eunit_results",
    "./test_distributed/logs/*",
    "./test_distributed/*.beam",
    "./priv/sync_gateway"
]}.

%% Erlang options, defines
{erl_opts, [{src_dirs, ["src"]}]}.
%% Add the tuple below to erl_opts proplist to turn on lager parse transform
%% (this is not needed as long as ctool logger is used)
%% {parse_transform, lager_transform}
%% Add the tuple below to erl_opts proplist to completely turn off debug messages
%% {d, skip_debug}

%% Options for erlyDTL (templates for GUI)
{erlydtl_opts, [
    {out_dir, "ebin"}
]}.

%% relx configuration
{relx, [
    {release, {"cluster_worker", "1.0.0"},
        [
            kernel,
            stdlib,
            os_mon,
            xmerl,
            sasl,
            public_key,
            lager,
            crypto,
            inets,
            mnesia,
            couchbeam,
            % All ctool deps will be included in the release package,
            % so there is no need to list them here.
            ctool,
            {gen_server2, load},
            %% deps included by default by reltool but not included by relx
            {base64url, load},
            certifi,
            {common_test, load},
            {debugger, load},
            {dht_ring, load},
            {edoc, load},
            {enacl_p, load},
            {erts, load},
            {eunit, load},
            hackney,
            {jiffy, load},
            {jsx, load},
            {macaroons, load},
            {mcd, load},
            {mochiweb, load},
            {observer, load},
            {otp_mibs, load},
            {runtime_tools, load},
            {snmp, load},
            {wx, load},
            cluster_worker
        ]},

    {vm_args, "rel/files/vm.args"},
    {sys_config, "rel/files/app.config"},
    {target_dir, "cluster_worker"},
    {include_src, false},
    {dev_mode, true},

    {overlay, [
        %% Copy base files for starting and interacting w/ node
        {copy, "node_package/priv/base/erl", "erts-{{erts_vsn}}/bin/erl"},
        {copy, "node_package/priv/base/nodetool", "erts-{{erts_vsn}}/bin/nodetool"},
        {template, "node_package/priv/base/runner", "bin/cluster_worker"},
        {template, "node_package/priv/base/env.sh", "lib/env.sh"},

        %% Copy config files
        {mkdir, "etc"},
        {template, "rel/files/app.config", "etc/app.config"},
        {template, "rel/files/vm.args", "etc/vm.args"},
        {copy, "cacerts", "./etc/"},
        {copy, "certs", "./etc/"},

        %% Copy additional data files
        {mkdir, "data"},
        {copy, "LICENSE.txt", "./data/"}
    ]},

    {extended_start_script, true}
]}.

%% Profiles configuration
{profiles, [
    {bamboo, [
        {relx, [{dev_mode, false}]},
        {post_hooks, [
            {release, "rm -rf _build/default/rel"},
            {release, "mv -f _build/bamboo/rel _build/default"},
            {release, "rm -rf _build/default/lib/cluster_worker"},
            {release, "mv -f _build/bamboo/lib/cluster_worker _build/default/lib"}
        ]}
    ]}
]}.