%% behaviours should be compiled before other files
{erl_first_files, [
    "src/elements/node_manager/node_manager_plugin_behaviour.erl",
    "src/listeners/listener_behaviour.erl",
    "src/modules/datastore/datastore_config_behaviour.erl",
    "src/modules/datastore/model_behaviour.erl",
    "src/modules/dns/dns_worker_plugin_behaviour.erl"
]}.


%% directory for releases
{sub_dirs, ["rel"]}.

%% to include deps headers
{lib_dirs, ["deps"]}.

%% eunit opts - Maven-like output formatting
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "../test/eunit_results"}]}}]}.

%% Test coverage
{cover_enabled, true}.
{cover_export_enabled, true}.

%% deps options
{deps, [
    {ctool, "3.0.0-beta3", {git, "${ONEDATA_GIT_URL}/ctool.git", {tag, "291da30ab1d"}}},
    {meck, "0.8.4", {git, "https://github.com/eproxus/meck.git", {tag, "0.8.4"}}},
    %% parse_trans repeated from ctool to fetch it before annotations' inner dependency
    {parse_trans, "2.9.2", {git, "https://github.com/uwiger/parse_trans.git", {tag, "2.9.2"}}},
    {annotations, ".*", {git, "https://github.com/RoXeon/annotations.git", {tag, "4c31a8b"}}},
    % Riakc uses meck that blocks cover in Erlang 18.x
    % If riak is used, uncomment line below and change meck to 0.8.2
    % {riakc, ".*", {git, "git://github.com/basho/riak-erlang-client.git", {tag, "527722d"}}},
    {node_package, ".*", {git, "git://github.com/xorver/node_package.git", {branch, "2.0.1"}}},
    {mcd, ".*", {git, "https://github.com/RoXeon/mcd.git", {branch, "master"}}},
    {couchbeam, "1.2.*", {git, "https://github.com/RoXeon/couchbeam.git", {tag, "1.2.x"}}}
]}.

%% plugins
{plugins, [rebar_git_plugin, rebar_annotations_plugin]}.

%% pre-hooks
{pre_hooks, [
    {eunit, "mkdir -p test/eunit_results"}, %% Make dir for eunit' surefire test results
    %% Sometimes, in some cases epmd daemon doesn't start during eunit tests,
    %% so we need to force start it
    {eunit, "epmd -daemon"},
    {compile, "echo '==> Fetching and compiling sync_gateway'"},
    {compile, "mkdir -p vendor/sync_gateway"},
    {compile, "sh -c 'git clone https://github.com/couchbase/sync_gateway.git -b 1.2.0 --depth 1 --recursive vendor/sync_gateway || true'"},
    {compile, "sh -c 'cd vendor/sync_gateway && ./build.sh'"},
    {clean, "rm -rf priv"}
]}.

{post_hooks, [
    {compile, "find vendor/sync_gateway -name shallow -type l -exec test ! -e '{}' ';' -delete"},
    {compile, "mkdir -p priv"},
    {compile, "cp vendor/sync_gateway/bin/sync_gateway priv/"}
]}.


%% Cleanup
{clean_files, [
    "./test/eunit_results",
    "./test_distributed/logs/*",
    "./test_distributed/*.beam"
]}.

%% Erlang options, defines
{erl_opts, [{src_dirs, ["src"]}]}.
%% Add the tuple below to erl_opts proplist to turn on lager parse transform
%% (this is not needed as long as ctool logger is used)
%% {parse_transform, lager_transform}
%% Add the tuple below to erl_opts proplist to completely turn off debug messages
%% {d, skip_debug}

%% Options for erlyDTL (templates for GUI)
{erlydtl_opts, [
    {out_dir, "ebin"}
]}.
