[
    % TODO this is needed to deploy oneprovider on distributed env on dockers
    % Range of ports that will be used by erlang nodes to communicate
    {kernel, [
        {inet_dist_listen_min, 9100},
        {inet_dist_listen_max, 9139}
    ]},

    %% SASL config
    {sasl, [{sasl_error_logger, false}]},

    %% logger configuration
    {lager, [
        {handlers, [
            %% show info level or higher level logs at console
            {lager_console_backend, info},
            %% rotate error log once a month (first day of month, 1 a.m) or when it reaches 1 GB; keep 1000 rotated logs
            {lager_file_backend, [{file, "{{platform_log_dir}}/error.log"}, {level, error}, {size, 1048576000}, {date, "$M1D1"}, {count, 1000}]},
            %% rotate info log once a week (friday at 11 p.m) or when it reaches 100 MB; keep 100 rotated logs
            {lager_file_backend, [{file, "{{platform_log_dir}}/info.log"}, {level, info}, {size, 104857600}, {date, "$W5D23"}, {count, 100}]},
            %% rotate info log once a day (at midnight) or when it reaches 10 MB; keep 10 rotated logs
            {lager_file_backend, [{file, "{{platform_log_dir}}/debug.log"}, {level, debug}, {size, 10485760}, {date, "$D0"}, {count, 10}]}
            %% {central_logging_backend, debug} todo uncomment when logging worker appears
        ]},
        {error_logger_hwm, 200},
        % When lager should change mode to synchronous (log queue is longer than async_threshold)
        {async_threshold, 500},
        % When lager should return from mode to synchronous (log queue is shorter than (async_threshold - async_threshold_window)
        {async_threshold_window, 50}
    ]},

    {cluster_worker, [
        %% Datastore timeouts' configuration
        {datastore_wait_for_state_timeout, 30000},
        {datastore_wait_for_connection_timeout, 60000},
        {datastore_driver_init_timeout, 180000},
        {datastore_gateway_spawn_timeout, 60000},
        {datastore_pool_size, 5},
        {datastore_pool_batch_size, 25},
        {datastore_pool_batch_delay, 500},
        {mnesia_cache_driver_log_type, brief},
        {mnesia_cache_driver_log_level, 0},
        {tp_processes_limit, 200},
        {couchbase_gateway_api_port_range, {12000, 12999}},
        {couchbase_gateway_admin_port_range, {13000, 13999}},

        {datastore_cache_size, [
            {memory, 100000},
            {disc, 500000}
        ]},
        {datastore_doc_commit_retry_delay, 1000},
        {couchbase_mutator_history_length, 20},
        {couchbase_config_total_timeout, 30000},
        {couchbase_pool_operation_timeout, 1800000},
        {couchbase_operation_timeout, 60000},
        {couchbase_view_timeout, 120000},
        {couchbase_durability_timeout, 60000},
        {couchbase_http_timeout, 60000},
        {couchbase_pool_size, [
            {'_', [
                {read, 10},
                {write, 20},
                {changes, 5}
            ]}
        ]},
        {couchbase_pool_batch_size, 50},
        {couchbase_changes_batch_size, 100},
        {couchbase_changes_update_interval, 5000},
        {couchbase_changes_stream_batch_size, 200},
        {couchbase_changes_stream_update_interval, 5000},

        {monitoring_log_file, "{{platform_log_dir}}/node_manager_monitoring.log"}
    ]}
].

