[
    % NOTE: this is needed to deploy oneprovider on distributed env on dockers
    % Range of ports that will be used by erlang nodes to communicate
    {kernel, [
        {inet_dist_listen_min, 9100},
        {inet_dist_listen_max, 9139}
    ]},

    %% SASL config
    {sasl, [{sasl_error_logger, false}]},

    {cluster_worker, [
        {monitoring_log_file, "{{platform_log_dir}}/node_manager_monitoring.log"},
        {throttling_log_file, "{{platform_log_dir}}/throttling_monitoring.log"},

        %% ===================================================================
        %% VIEW TRAVERSE
        %% ===================================================================
        {view_traverse_default_master_jobs_limit, 10},
        {view_traverse_default_slave_jobs_limit, 20},
        {view_traverse_default_parallelism_limit, 5},

        %% ===================================================================
        %% HA
        %% ===================================================================
        % Method of backup data propagation (see ha_datastore.hrl):
        % cast - asynchronous method that give small overhead but does not provide guarantee that backup data
        %    propagation is finished at the end of datastore operation
        % call - synchronous method that give larger overhead but provides guarantee that backup data propagation
        %    is finished at the end of datastore operation
        {ha_propagation_method, cast}
    ]}
].

